<center>
    <h1>MessageMe</h1>
</center>

<br>

<h3 class="ui center aligned icon header">
  <i class="circular envelope outline icon mb-4 orangecolor"></i>
  Chat Room
</h3>

<div class="ui two column grid">
    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
            <div class="ui small feed">
                <div class="event">
                <div class="content">
                    <div class="summary">
                    <em>Elliot Fu</em> added <em>Jenny Hess</em> as a friend
                    </div>
                </div>
                </div>
                <div class="event">
                <div class="content">
                    <div class="summary">
                    <em>Stevie Feliciano</em> added <em>Bob</em> as a friend
                    </div>
                </div>
                </div>
                <div class="event">
                <div class="content">
                    <div class="summary">
                    <em>Helen Troy</em> added <em>Christian Rocha</em> as a friend
                    </div>
                </div>
                </div>
                <div class="event">
                <div class="content">
                    <div class="summary">
                    <em>Christian Rocha</em> signed up for the  site.
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="ui action input">
            <input type="text" placeholder="Search...">
            <button class="ui orange button">Post</button>
        </div>
    </div>
</div>


   
<div class="four wide column">
        
    <div class="ui fluid raised card">
        <div class="four wide column">
            <div class="content">
                <div class="ui inverted vertical menu">
                    <a class="active item">
                        Home
                    </a>
                    <a class="item">
                        Messages
                    </a>
                    <a class="item">
                        Friends
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
