<div class="ui secondary pointing menu">
    
    <div class="ui container">
        <a class="item">
            <div class='navtext'>
                Messages
            </div>
        </a>

        <div class='item'>
            <%= link_to 'Chat Room', root_path, class: 'navtext' %>  
        </div> 

        <a class="item">
            <div class='navtext'>
                Friends
            </div>
        </a>
        <div class="right menu">
            <div class='item'>
                <%= link_to 'Log In', login_path, class: 'navtext' %>  
            </div> 
        </div>
    </div>
</div>
